/* reset-css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* end-reset-css */


/* css-varialbes   create once, use again and agin   */
/* :root is <html> */
:root {
    --primary-color: #F53855;
}

/* end-varialbes */

body {
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
    /* border: 1px solid red; */
}

header {
    margin-top: 3rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.logo-wrapper p {
    font-size: 20px;
    color: #0B132A;
}

.menu-icon {
    height: 42px;
    width: 42px;
}

.sidebar {
    position: fixed;
    right: 0;
    background-color: orange;
    top: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* display: none; */
    transform: translateX(100%);
    transition: transform 1s;

}

.sidebar.active {
    /* display: flex; */
    transform: translateX(0%);
}

.sidebar .close-menu {
    font-size: 2rem;
    color: black;
    position: absolute;
    top: .5rem;
    left: .5rem;
}



.nav-links,
.auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.font-md {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.container {
    padding-left: .75rem;
    padding-right: .75rem;
    margin-right: auto;
    margin-left: auto;
}


.btn {
    border: none;
    background-color: var(--primary-color);
    padding: 1rem 2.5rem;
    border-radius: 50px;
    color: white;
    font-weight: 600;
}


.btn.outline {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

.btn.outline:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 7px 7px 34px -11px var(--primary-color);
}

.btn.transparent {
    background-color: transparent;
    border: none;
    color: #0B132A;
}


.banner {
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.banner img {
    max-width: 100%;
}

.banner .motto {
    font-size: 50px;
    color: #0B132A;
    margin-bottom: 1rem;
}

.banner button {
    margin-top: 3rem;
}

.btn.wider {
    border-radius: .5rem;
}

.btn.shadow {
    border-radius: .5rem;
    box-shadow: 7px 7px 34px -11px var(--primary-color);
}


@media (min-width:768px) {
    .banner {
        flex-direction: row;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1024px) {

    .menu-icon,
    .close-menu {
        display: none;
    }

    .sidebar {
        background-color: transparent;
        position: static;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .nav-links,
    .auth-buttons {
        flex-direction: row;
    }

    .sidebar ul {
        display: flex;
        gap: 40px;
    }


}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px;
    }

    .container {
        max-width: 1320px;
    }
}